    /* kurale-regular - latin_devanagari_cyrillic-ext_latin-ext_cyrillic */
    @font-face {
      font-family: 'Kurale';
      font-style: normal;
      font-weight: 400;
      src: url('../fonts/kurale-v2-latin_devanagari_cyrillic-ext_latin-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
      src: local('Kurale Regular'), local('Kurale-Regular'),
           url('../fonts/kurale-v2-latin_devanagari_cyrillic-ext_latin-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/kurale-v2-latin_devanagari_cyrillic-ext_latin-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
           url('../fonts/kurale-v2-latin_devanagari_cyrillic-ext_latin-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
           url('../fonts/kurale-v2-latin_devanagari_cyrillic-ext_latin-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
           url('../fonts/kurale-v2-latin_devanagari_cyrillic-ext_latin-ext_cyrillic-regular.svg#Kurale') format('svg'); /* Legacy iOS */
    }
    html{
        background: url('img/background.jpg') black;
        font-family: 'Kurale';
    }
    .logogo{
        position: relative;
        left: 0px;
        margin: auto;
        /*border: 1px solid black;*/
        width:96px;
        height:96px;
        background: url(./img/logogo.png) no-repeat;
    }
    #photo{
        width:140px;
        height:170px;
    }
    #general{
        padding:5px;
        background: url('img/bg1.png') black;
        margin: -56px auto;
        width:800px;
        height:910px;
        border: 20px solid black;
        padding:10px;
        -moz-border-image: url(./img/border3.png) 22 round round;
        -webkit-border-image: url(./img/border3.png) 22 round round; 
        -o-border-image: url(./img/border3.png) 22 round round;
        border-image: url(./img/border3.png) 20 round round;
        background-image: url(./img/bg1.png);
        border-radius: 7px;
        
    }
    .inner-left{
        float:left;
        width:227px;
        font-size: 10pt;
    }
    .inner-right{
        float:right;
        width:569px;
        font-size: 10pt;
    }
    hr
    {
      display:block;
      border:none;
      height:8px;
      background-image:url('./img/hr.png');
    } 
    .block{
        border: 10px solid #EFE5C5;
        padding: 5px;
        -moz-border-image: url(./img/border2.jpg) 20 round round;
        -webkit-border-image: url(./img/border2.jpg) 20 round round; 
        -o-border-image: url(./img/border2.jpg) 20 round round;
        border-image: url(./img/border2.jpg) 13 round round;
        background-image: url(./img/bg2.png);
    }
    .skills{
        position: relative;
        padding: 0px 2px;
        top: -2px;
        height: 16px;
    }
    a{color: #B6732C; text-decoration: none;}
    a:hover{color: #7B563A;}
    a:active{color: #7B563A;}
    h4{
        padding: 0;
        margin:0;
    }

/*-----------------------------------------------------------------------------------------*/

    .progress-bar {
        /*background-color: #1a1a1a;*/
        background-color: rgba(229, 232, 238, .5);
        height: 16px;
        padding: 1px;
        width: 100%;
        margin: 5px -2px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0 1px 3px #000 inset, 0 1px 0 #444;
        -webkit-box-shadow: 0 1px 3px #000 inset, 0 1px 0 #444;
        box-shadow: 0 1px 3px #000 inset, 0 1px 0 #444;
    }
    .progress-bar span {
        display: inline-block;
        height: 16px;
        width: 150px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
        box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
        -webkit-transition: width .4s ease-in-out;
        -moz-transition: width .4s ease-in-out;
        -ms-transition: width .4s ease-in-out;
        -o-transition: width .4s ease-in-out;
        transition: width .4s ease-in-out;
    }
    .blue span {
            background-color: #34c2e3;
    }
    .green2 span {
    	background-color: #76BF3D;
    }
    .orange span {
        background-color: #fecf23;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fecf23), to(#fd9215));
        background-image: -webkit-linear-gradient(top, #fecf23, #fd9215);
        background-image: -moz-linear-gradient(top, #fecf23, #fd9215);
        background-image: -ms-linear-gradient(top, #fecf23, #fd9215);
        background-image: -o-linear-gradient(top, #fecf23, #fd9215);
        background-image: linear-gradient(top, #fecf23, #fd9215);
    }       
    .green span {
        background-color: #a5df41;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#a5df41), to(#4ca916));
        background-image: -webkit-linear-gradient(top, #a5df41, #4ca916);
        background-image: -moz-linear-gradient(top, #a5df41, #4ca916);
        background-image: -ms-linear-gradient(top, #a5df41, #4ca916);
        background-image: -o-linear-gradient(top, #a5df41, #4ca916);
        background-image: linear-gradient(top, #a5df41, #4ca916);
    }

/*.progress-bar:after
{
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/